// Variables

$color-main:      #323232; // shape
$color-main-2:    #393E46;
$color-hover:     #00ADB5;
$color-marked:    #E84545;
$color-bg:        #EEEEEE;
$color-base:       black;
$color-base-2:     white;

$font-size:     100%;

$font-family-title:      'Montserrat', sans-serif;
/*$font-family-text:       'Ovo', serif;*/
$font-family-text-2:     'Nunito', sans-serif;
